{% extends "base.html" %}
{% load static %}

{% load widget_tweaks %}

{% block content %}


<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <form action="{{ request.path }}" method="post" enctype="multipart/form-data">
          {% csrf_token %}

          {% if form.errors %}
          <ul class="error-messages">
            {% for error in form.errors.values %}
            {{ error.as_text }}
            {% endfor %}
          </ul>
          {% endif %}

          <fieldset class="form-group">
            {% render_field form.title class+="form-control form-control-lg" placeholder="Article Title" %}
          </fieldset>

          <fieldset class="form-group">

            {{ form.summary|attr:"placeholder:What's this article about?"|add_class:"form-control" }}
          </fieldset>

          <fieldset class="form-group">
            {% render_field form.thumbnail class+="form-control" placeholder="Article main Picture" %}
          </fieldset>

          <fieldset class="form-group">
            {% render_field form.content class+="form-control" placeholder="Write your article (in markdown)" rows=8 %}
            {{ form.media }}

          </fieldset>

          <fieldset class="form-group">
            {% render_field form.tags class+="form-control" placeholder="Enter tags" autocomplete="off" %}
            <div class="tag-list" id="tags-list"></div>
          </fieldset>

          <fieldset class="form-group">
            <p style="margin: 0;padding: 0px;"><span>Featured?</span></p>
            {% render_field form.featured class+="form-control-lg" placeholder="Featured?" autocomplete="off" %}
          </fieldset>


          <fieldset class="form-group">

            {% render_field form.next_article class+="form-control form-control-lg" placeholder="Next Article" %}

          </fieldset>

          <fieldset class="form-group">
            {% render_field form.previous_article class+="form-control form-control-lg" placeholder="Previous Article"
            %}
          </fieldset>

          <fieldset>
            <button type="submit" class="btn btn-lg pull-xs-right btn-primary">
              <span>{{ article|yesno:"Save,Publish" }}</span>
              <span>Article</span>
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}