    <footer class="py-3 footer">
   <!--   <div class="row">
        <div class="col-2">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">About</a></li>
          </ul>
        </div>
  
        <div class="col-2">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">About</a></li>
          </ul>
        </div>
  
        <div class="col-2">
          <h5>Social</h5>
          <ul class="social-list list-inline mb-0">
            <li class="list-inline-item"><i class="bi-github" role="img" aria-label="GitHub"></i></li>
              <li class="list-inline-item"><i class="bi-linkedin" role="img" aria-label="linkedin" style="color: blue;"></i></li>
              <li class="list-inline-item"><i class="bi-youtube"  role="img" aria-label="youtube" style="color: red;" ></i></li>
      </ul>
        </div>
  
        <div class="col-4 offset-1">
          <form>
            <h5>Subscribe to our newsletter</h5>
            <p>Monthly digest of whats new and exciting from us.</p>
            <div class="d-flex w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Email address</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
              <button class="btn btn-primary" type="button">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    -->
    <div class="container">
      <div class="d-flex justify-content-between py-3 my-3 border-top">
        <p><small>&copy; 2022 Oplash.com, Inc. All rights reserved.</small></p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-dark" href="https://github.com/kibir"><svg class="bi" width="24" height="24"><use xlink:#twitter/></svg><i class="bi-github" role="img" aria-label="GitHub"></i></a></li>
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg><i class="bi-linkedin" role="img" aria-label="LinkedIn"></i></a></li>
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg><i class="bi-facebook" role="img" aria-label="Facebook"></i></a></li>
        </ul>
      </div>
      </div>
    </footer>
